{% extends "awardshome/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="jumbotron bg-light mt-2">
        <h1 class="display-4 text-center ">About PipAwards</h1>
        <hr class="my-4 bg-dark">
        <p class="lead text-center "><span class=" h2">PipAwards</span> is an application that allows a user to post a project he/she has created and get it reviewed by his/her peers.</p>
        <hr class="my-4 bg-dark">
        <div class="row contact_us text-center">
            <div class="col-md-12">
              <h3 class="" id="m2">CONTACT US.</h3>
            </div>
            <div class="col-md-12">
                <a href="https://www.facebook.com/profile.php?id=100006079969163" class="btn" target="blank">
                    <img src="{{ url_for('static', filename='icons/facebookicon.png') }}">
                </a>
                <a href="Tel: +254758657828" class="btn">
                    <img src="{{ url_for('static', filename='icons/tellicon.png') }}">
                </a>
                <a href="https://wa.me/256756522631" class="btn" target="blank">
                    <img src="{{ url_for('static', filename='icons/whatsappicon.png') }}">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
